<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>
</head>
<body>
<div class="text-center">
    <div class="d-flex align-items-center justify-content-center p-6">
        <h1 class="text-center">payment failed</h1>
        <i class="fas fa-close text-danger d-block" style="font-size: 3rem"></i>
    </div>
    <a class="btn rounded-top rounded-bottom my-2 text-center mx-auto text-white bg-success"
       href="{% url 'index' %}">back to profile</a>
</div>
</body>
</html>